.arcade-screen {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  box-sizing: border-box;
  overflow: hidden;
}
.cpu-area, .player-area {
    flex: 2; /* Ocupa el doble de espacio en comparación al área central */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00FF00; /* Verde */
}

.cpu-area {
    border-right: 2px solid white; /* Línea divisoria derecha */
}

.info-area {
    flex: 1; /* Ocupa menos espacio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000FF; /* Azul */
    border-left: 2px solid white; /* Línea divisoria izquierda */
}

.carta-back, .carta {
    width: 8vw; /* Tamaño proporcional al ancho de la pantalla */
    height: 12vw; /* Tamaño proporcional al ancho de la pantalla */
    margin: 0.5vw; /* Espaciado entre cartas */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0000FF; /* Borde azul */
}

.carta-back {
    background-color: #FF00FF; /* Rosa */
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"><rect width="100%" height="100%" fill="%23FF00FF"/><path d="M10 10h130v130H10z" fill="none" stroke="%230000FF" stroke-width="2"/></svg>');
    background-size: cover;
}
